LOCATE COMP "clk_100mhz" SITE "P3"; IOBUF PORT "clk_100mhz" IO_TYPE=LVDS;

LOCATE COMP "led[0]" SITE "E16"; IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[1]" SITE "D17"; IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[2]" SITE "D18"; IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[3]" SITE "E18"; IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[4]" SITE "F17"; IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[5]" SITE "F18"; IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[6]" SITE "E17"; IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[7]" SITE "F16"; IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "switch[0]" SITE "H2"; IOBUF PORT "switch[0]" IO_TYPE=LVCMOS15;
LOCATE COMP "switch[1]" SITE "K3"; IOBUF PORT "switch[1]" IO_TYPE=LVCMOS15;
LOCATE COMP "switch[2]" SITE "G3"; IOBUF PORT "switch[2]" IO_TYPE=LVCMOS15;
LOCATE COMP "switch[3]" SITE "F2"; IOBUF PORT "switch[3]" IO_TYPE=LVCMOS15;
LOCATE COMP "switch[4]" SITE "J18"; IOBUF PORT "switch[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "switch[5]" SITE "K18"; IOBUF PORT "switch[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "switch[6]" SITE "K19"; IOBUF PORT "switch[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "switch[7]" SITE "K20"; IOBUF PORT "switch[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "tx" SITE "A11"; IOBUF PORT "tx" IO_TYPE=LVCMOS33;
LOCATE COMP "rx" SITE "C11"; IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "pad_phy1_clk_125" SITE "L19"; IOBUF PORT "pad_phy1_clk_125" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_clk_125_pll" SITE "U16"; IOBUF PORT "pad_phy1_clk_125_pll" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_config" SITE "T17"; IOBUF PORT "pad_phy1_config" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_resetn" SITE "U17"; IOBUF PORT "pad_phy1_resetn" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_mdio" SITE "U18"; IOBUF PORT "pad_phy1_mdio" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_mdc" SITE "T18"; IOBUF PORT "pad_phy1_mdc" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_tx_clk" SITE "P19"; IOBUF PORT "pad_phy1_tx_clk" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_tx_dat[0]" SITE "N19"; IOBUF PORT "pad_phy1_tx_dat[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_tx_dat[1]" SITE "N20"; IOBUF PORT "pad_phy1_tx_dat[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_tx_dat[2]" SITE "P18"; IOBUF PORT "pad_phy1_tx_dat[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_tx_dat[3]" SITE "P20"; IOBUF PORT "pad_phy1_tx_dat[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_tx_ctl" SITE "R20"; IOBUF PORT "pad_phy1_tx_ctl" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_rx_clk" SITE "L20"; IOBUF PORT "pad_phy1_rx_clk" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_rx_dat[0]" SITE "T20"; IOBUF PORT "pad_phy1_rx_dat[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_rx_dat[1]" SITE "U20"; IOBUF PORT "pad_phy1_rx_dat[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_rx_dat[2]" SITE "T19"; IOBUF PORT "pad_phy1_rx_dat[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_rx_dat[3]" SITE "R18"; IOBUF PORT "pad_phy1_rx_dat[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "pad_phy1_rx_ctl" SITE "U19"; IOBUF PORT "pad_phy1_rx_ctl" IO_TYPE=LVCMOS25;

LOCATE COMP "expcon_clkout" SITE "E11"; IOBUF PORT "expcon_clkout" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon_clkin" SITE "A10"; IOBUF PORT "expcon_clkin" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[0]" SITE "A12"; IOBUF PORT "expcon[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[1]" SITE "A13"; IOBUF PORT "expcon[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[2]" SITE "B13"; IOBUF PORT "expcon[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[3]" SITE "C13"; IOBUF PORT "expcon[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[4]" SITE "D13"; IOBUF PORT "expcon[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[5]" SITE "E13"; IOBUF PORT "expcon[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[6]" SITE "A14"; IOBUF PORT "expcon[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[7]" SITE "C14"; IOBUF PORT "expcon[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[8]" SITE "D14"; IOBUF PORT "expcon[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[9]" SITE "E14"; IOBUF PORT "expcon[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[10]" SITE "D11"; IOBUF PORT "expcon[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[11]" SITE "C10"; IOBUF PORT "expcon[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[12]" SITE "A9"; IOBUF PORT "expcon[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[13]" SITE "B10"; IOBUF PORT "expcon[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[14]" SITE "D12"; IOBUF PORT "expcon[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[15]" SITE "E12"; IOBUF PORT "expcon[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[16]" SITE "B15"; IOBUF PORT "expcon[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[17]" SITE "C15"; IOBUF PORT "expcon[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[18]" SITE "D15"; IOBUF PORT "expcon[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[19]" SITE "E15"; IOBUF PORT "expcon[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[20]" SITE "A16"; IOBUF PORT "expcon[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[21]" SITE "B16"; IOBUF PORT "expcon[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[22]" SITE "C16"; IOBUF PORT "expcon[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[23]" SITE "D16"; IOBUF PORT "expcon[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[24]" SITE "B17"; IOBUF PORT "expcon[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[25]" SITE "C17"; IOBUF PORT "expcon[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[26]" SITE "A17"; IOBUF PORT "expcon[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[27]" SITE "B18"; IOBUF PORT "expcon[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[28]" SITE "A18"; IOBUF PORT "expcon[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[29]" SITE "B19"; IOBUF PORT "expcon[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[30]" SITE "B12"; IOBUF PORT "expcon[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[31]" SITE "B9"; IOBUF PORT "expcon[31]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[32]" SITE "E6"; IOBUF PORT "expcon[32]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[33]" SITE "D6"; IOBUF PORT "expcon[33]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[34]" SITE "E7"; IOBUF PORT "expcon[34]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[35]" SITE "D7"; IOBUF PORT "expcon[35]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[36]" SITE "B11"; IOBUF PORT "expcon[36]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[37]" SITE "B6"; IOBUF PORT "expcon[37]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[38]" SITE "E9"; IOBUF PORT "expcon[38]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[39]" SITE "D9"; IOBUF PORT "expcon[39]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[40]" SITE "B8"; IOBUF PORT "expcon[40]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[41]" SITE "C8"; IOBUF PORT "expcon[41]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[42]" SITE "D8"; IOBUF PORT "expcon[42]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[43]" SITE "E8"; IOBUF PORT "expcon[43]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[44]" SITE "C7"; IOBUF PORT "expcon[44]" IO_TYPE=LVCMOS33;
LOCATE COMP "expcon[45]" SITE "C6"; IOBUF PORT "expcon[45]" IO_TYPE=LVCMOS33;
